@font-face {
	font-family: "Trick";
	src: url("../../assets/ZIGORZAG-UrbanHook-Upz.otf");
}

.nav_bar{
	height: 55px;
	position: relative;
}

.name_box{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height: 55px;
	width: 100px;
}

.name{
	font-family: "Trick";
	font-size: 1.7rem;
	position: absolute;
}

.first_name{
	left: 52%;
	transform: translatex(-50%);
}

.second_name{
	font-size: 1rem;
	top: 22px;
	left: 77%;
}

.third_name{
	top: 18px;
  left: 40%;
  transform: translatex(-50%);	
}

.cart{
	position: absolute;
	right: 20px;
	top: 1.8%;
	
	color: #fff;
	font-size: 1.6rem;

	cursor: pointer;
}